defmodule <%= @module %>.API.Actions.NotFound do
  use Raxx.SimpleServer

  @impl Raxx.SimpleServer
  def handle_request(_request, _state) do
    error = %{title: "Action not found"}

    response(:not_found)
    |> set_body(Jason.encode!(%{errors: [error]}))
  end
end
