defmodule <%= @module %>.Application do
  @moduledoc false

  use Application

  def start(_type, _args) do

    children = [
      {<%= @module %>.WWW, [%{}, [port: 8080]]}
    ]

    opts = [strategy: :one_for_one, name: <%= @module %>.Supervisor]
    Supervisor.start_link(children, opts)
  end
end
