defmodule <%= app_module %>.WWW do
  @external_resource "lib/<%= app_name %>/www.apib"
  use Raxx.Blueprint, "./www.apib"
  use Raxx.Static, "./public"

  def start_link(config, options) do
    Ace.HTTP2.Service.start_link({__MODULE__, config}, options)
  end
end
