<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= app_name %></title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <main class="centered">
      <section class="accent">
        <h1>Tokumei</h1>
        <h2>Simply cloud native</h2>
        <nav>
          <a href="https://github.com/CrowdHailer/Tokumei">SOURCE CODE</a>
          <a href="https://hexdocs.pm/tokumei/">GUIDES</a>
          <a href="https://elixir-lang.slack.com/messages/C56H3TBH8/">CHAT</a>
        </nav>
      </section>
    </main>
  </body>
</html>
