# <%= @module %>

- Install dependencies with `mix deps.get`
- Start your service with `iex -S mix`

## Learn more

- Raxx documentation: https://hexdocs.pm/raxx
- Slack channel: https://elixir-lang.slack.com/messages/C56H3TBH8/
