<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form action="/upload" method="post" enctype='multipart/form-data'>
      <input type="file" name="payload">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
