version: '2'

services:
  web:
    build:
      context: "."
      dockerfile: "Dockerfile"
    environment:
      - SECURE_PORT=8443
      - SERVICE_NAME=web
      - ERLANG_COOKIE=<%= :crypto.strong_rand_bytes(64) |> Base.url_encode64 %>
    ports:
      - 8443:8443
      - 4001:4001
    volumes:
      - .:/home/elixir/app
    command: sh start.sh
