defmodule <%= app_module %> do
  use Tokumei

  config :port, 8080
  config :static, "./public"
  config :templates, "./templates"

  route "/" do
    get() ->
      ok("Hello <%= app_name %>")
  end
end
